/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body, html {
		height:100%;
		width:100%;
}


body { /* General style rules for the body section */
	background-color:tan;
	text-align: center;
}

h1 {color: white;}


#div1 { /* Matches element with id=SimpleDiv */
 	background-color: gray;

	color: hotpink;


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
	margin:5%;
	padding: 6px;
}


#div2{
	background-color: #D7CFBF;
	margin:5%;
	padding: 6px;
	float: left;
	width: 20%;
}

#div3{
	background-color: #708394;
	margin:5%;
	padding: 6px;
	float: right;
	width: 50%
}

#div4{
	background-color: #091796;
	margin:5%;
	padding: 6px;
	clear: both
}
